[Akara]
Port=8889
LogLevel=DEBUG

[CouchDb]
URL=http://localhost:5984
Username=admin
Password=<pswd>
Server=http://localhost:5984
ItemDatabase=ucldc
DashboardDatabase=dashboard
ViewsDirectory=./lib/python27/site-packages/dplaingestion/couchdb_views/

[Geonames]
Username=<example>

[Enrichment]
QueueSize=4
ThreadCount=4

[Alert]
To=example@example.com
From=example@example.com
