Sickle==0.3
argparse==1.2.1
lxml==3.3.0beta1
requests==2.1.0
solrpy==0.9.6
wsgiref==0.1.2
logbook
git+https://github.com/zepheira/amara.git#egg=amara
git+https://github.com/zepheira/akara.git#egg=akara
git+https://github.com/mredar/DPLA-ingestion.git@ucldc#egg=dplaingestion
python-dateutil
couchdb
rq
